   <% if notice %>
   <div class="notice"><%= notice %></div>
 <% end %>
 <% if alert %>
   <div class="alert"><%= alert %></div>
 <% end %>

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class= "container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>

            </div>
     <!-- Fixed navbar -->
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">CrowdPics</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav right_nav">
            <li class="hidden" ><a href="#page-top"></a> </li>
            <li class="page-scroll"><a href="#about">About</a></li>
            <li class="page-scroll"><a href="#team">Team</a></li>
            <li class="page-scroll"><a href="#learn_more">Learn More</a></li>
            <li class="page-scroll"><a href="#contact">Contact</a></li>
            <% if current_user %>
            <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
 </nav>
  <section class="intro">
     <div class="intro-body">
       <div class="container text-center">
        <div class="brand-heading text-center">
        CROWDPICS
        </div>
        <p class="intro-text">
        Crowdsource . Curate . Create
        </p>

        <div class='lp_top'>
        <div class ='lp_top_left col-md-6'>
        <br>
        <% if current_user %>
         <br><br><br><%= link_to "Create Event", new_user_event_path(current_user), :class => "lp_btn4_1" %>
         <br><br><br><%= link_to "All Events", events_path, :class => "lp_btn4_2" %>
         <br><br><br><%= link_to "My Dashboard", user_path(current_user), :class => "lp_btn4_3" %>
       <% else %>
      <ul class='lp_link'>
      <br>
      <br>
        <li><%= link_to "Create Account", new_user_registration_path, :class => "lp_btn", :id => "signup" %></li>

        <div id='signupdiv' style="display: none">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div><br />
            <%= f.email_field :email, :placeholder => "Email" %></div>

            <div><br />
            <%= f.password_field :password, :placeholder => "Password" %></div>

            <div><br />
            <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></div>
            <br>
            <div><%= f.submit "Sign up" %></div>
          <% end %></div>

        <li><%= link_to "Sign In", new_user_session_path, :class => "lp_btn", :id =>"signin" %></li>

        <div id='signindiv' style="display: none">
          <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <div><br />
            <%= f.email_field :email, :placeholder => "Email" %>
            </div>
            <div><br />
            <%= f.password_field :password, :placeholder => "Password" %>
            </div>
            <div><br>
            <%= f.submit "Sign in" %>
            </div>
          <% end %></div>

        <% end %>
      </ul>
      </div>


        <div class ='lp_top_right col-md-6'>
        <br><br><br>
      <%= form_tag events_check_code_path do %><br>
            <p>

              <%= text_field_tag "event_code", nil, :placeholder => "Event Code" %>
            </p>

              <%= submit_tag "Submit", class: 'lp_btn3' %>
            </p>
            <% end %>
        </div>
        </div>
        </div>

        <div class="page-scroll text-center">
          <a href="#about" class="btn btn-circle">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="about-section">
    <div class="container">

       <h2>About<br></h2>
        <p class='p_font_size'>
        CrowdPics began as a way to allow wedding guests to participate in the creation of memories, without flooding social media/photo-sharing sites with pictures that the Happy Couple *ahem*...might not fully appreciate. (Sorry, Uncle Pete, your photo skillz aren't as incredible as you seem to think.) Essentially, CrowdPics was going to replace the disposable cameras placed on guests' tables. </p>
        <p class='p_font_size'>However, the CrowdPics team soon realized that an application like this had power beyond maintaining the purity of images from a couple's Big Day. It could also be used to ensure that the rowdiness of parties remains amongst those actually present at said party. It would also eliminate the problem of the Forgetful Photographer--the guy or gal who never seems to remember to share precious, captured moments. You know, like puke pics and stuff.</p>
        <p class='p_font_size'>Click <a href="#learn_more">here</a> to learn more about how CrowdPics was built, including the struggles and obstacles faced by the CP Team. We're excited to have you join us as you Crowdsource, Curate, and Create!</p>


  </div>
</div>
</section>

<section id="team">
<div class="team-section">
  <div class="container">
    <h2>The Team <br></h2>
    <div class="col-md-6">
    <img class='team_photo' src="<%= asset_path('ahmed.png') %>">
    <span class='team_name'>Ahmed</span>
    <br>
    <img class='team_photo' src="<%= asset_path('keenan.png') %>">
    <span class='team_name'>Keenan</span>
    </div>

    <div class="col-md-6">
    <img class='team_photo' src="<%= asset_path('scott.png') %>">
    <span class='team_name'>Scott</span>
    <br>
    <img class='team_photo' src="<%= asset_path('steve.png') %>">
    <span class='team_name'>Steve</span>
    </div>
      <p class='p_font_size'>There they are: the CrowdPics Guys...</p>
      <p class='p_font_size'>For their final project at <a href="http://devbootcamp.com/">Dev Bootcamp</a>, they were given 7 days to design any application of their choosing, with the assumption that they would choose a challenging, interesting idea. Going along with DBC's philosophy of learning new skills quickly, they opted to tackle some tough technologies, most of which were brand new to them! Click <a href="#learn_more">here</a> to read more about how the process played out.</p>

  </div>
</div>
</section>

<section id="learn_more">
<div class="learn_more-section">
  <div class="container">

    <h2>Learn More</h2>
      <div class='lp_lm_right_text col-md-6'>
      <p class='p_font_size'>CrowdPics is a crowdsourcing image app that allows multiple users to contribute by simply entering an event code and snapping away.  It allows the host to obtain pictures from guests, resulting in multiple and varied perspectives of an event. On the mobile side, CrowdPics uses Apple's new programming language, Swift--just a month old at the time of development. For the web, the team dove into Ruby/Rails, JavaScript/jQuery/AJAX, and a variety of other tools and libraries in order to create a fluid and enjoyable experience, as users pore over their photos.</p>
      <p class='p_font_size'>Obstacles arose that might have thwarted lesser teams, but the CrowdPics crew has magical thwart-proof powers, so they got the job done. Rails' Asset Pipeline? Pffft...child's play! And nice try, Version Control, these fellas know Git! The boys relied on their ability to search the web for answers, tap into the Chicago developer community, and lean on each other in order to overcome would-be disasters. The result isn't perfect, but the journey proved enlightening, educational, and fun. Thank you for checking us out. Now, go take some Pics!
      </p>

      <br>
      <% if current_user %>


      <% else %>
      <ul class='lp_link2'>
        <li><%= link_to "Create Account", new_user_registration_path, :class => "lp_btn2" %></li>
        <li><%= link_to "Sign In", new_user_session_path, :class => "lp_btn2" %></li>
      </ul>
      <% end %>

      </div>
      <div class='lp_lm_right_image col-md-6'>
        <img class='mobile_image' src="<%= asset_path('mobile_image2.jpg') %>">
      </div>

  </div>

</div>
</section>
<!--mmmmmm-->
<section id="contact">
 <div class="contact-section">
  <div class="container">
    <h2>Contact Us</h2>
      <p class='p_font_size'>Email: crowdpicschicago@gmail.com</p>


         <ul class="list-inline banner-social-buttons">
                 <ul class="list-inline banner-social-buttons">
                  <li><a href="https://twitter.com/crowdpicschi" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                  </li>
                     </li>
                <li><a href="https://www.facebook.com/crowdpics" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                  </li>
              </ul>
   </div>
  </div>
</section>
</div>
