<!DOCTYPE html>
<html lang="en">
  <head>
    <!--meta tags-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
   <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <title>CrowdPics</title>
    <!--    Looking at my code?       -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Fonts -->
  
  </head>
<!-- NAVBAR
================================================== -->
  <body class='landing_body' class='grayscale' id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
              
            </div>
     <!-- Fixed navbar -->
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CrowdPics</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav right_nav">
            <li class="hidden" ><a href="#page-top"></a> </li>
            <li class="page-scroll"><a href="#about">About</a></li>
            <li class="page-scroll"><a href="#team">Team</a></li>
            <li class="page-scroll"><a href="#learn_more">Learn More</a></li>
            <li class="page-scroll"><a href="#contact">Contact</a></li>
            <% if current_user %>
            <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
 </nav>
    <section class="intro">
       <div class="intro-body">
         <div class="container text-center">
          <div class="brand-heading text-center">
          CROWDPICS
          </div>
          <p class="intro-text"> 
          Crowdsource . Curate . Create
          </p>

          <div class='lp_top'>
          <div class ='lp_top_left col-md-6'>
          <br>
          <% if current_user %>
           <br><br><br><%= link_to "Create Event", new_user_event_path(current_user), :class => "lp_btn4_1" %>
           <br><br><br><%= link_to "All Events", events_path, :class => "lp_btn4_2" %>
           <br><br><br><%= link_to "My Dashboard", user_path(current_user), :class => "lp_btn4_3" %>
         <% else %>
        <ul class='lp_link'>
        <br>
        <br>
          <li><%= link_to "Create Account", new_user_registration_path, :class => "lp_btn", :id => "signup" %></li>

          <div id='signupdiv' style="display: none">
            <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div><br />
              <%= f.email_field :email, :placeholder => "Email" %></div>

              <div><br />
              <%= f.password_field :password, :placeholder => "Password" %></div>

              <div><br />
              <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></div>
              <br>
              <div><%= f.submit "Sign up" %></div>
            <% end %></div>

          <li><%= link_to "Sign In", new_user_session_path, :class => "lp_btn", :id =>"signin" %></li>

          <div id='signindiv' style="display: none">
            <%= form_for(:user, :url => session_path(:user)) do |f| %>
              <div><br />
              <%= f.email_field :email, :placeholder => "Email" %>
              </div>
              <div><br />
              <%= f.password_field :password, :placeholder => "Password" %>
              </div>
              <div><br>
              <%= f.submit "Sign in" %>
              </div>
            <% end %></div>
              
          <% end %>
        </ul>
        </div>
         

          <div class ='lp_top_right col-md-6'>
          <br><br><br>
        <%= form_tag events_check_code_path do %><br>
              <p>
                
                <%= text_field_tag "event_code", nil, :placeholder => "Event Code" %>
              </p>
              
                <%= submit_tag "Submit", class: 'lp_btn3' %>
              </p>
              <% end %>
          </div>
          </div>
          </div>

          <div class="page-scroll text-center">
            <a href="#about" class="btn btn-circle">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>   
        </div>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="about-section">
      <div class="container">
         <h2>About<br></h2>           
          <p class='p_font_size'>
          Quisque fringilla ultricies nisl, ac facilisis tortor ultricies vitae. Duis eget gravida neque. Maecenas egestas viverra diam at cursus. In semper, risus a aliquam scelerisque, eros lorem porta nunc, commodo dignissim nibh est sit amet nulla. Fusce luctus eget enim vitae sagittis. Curabitur vitae egestas arcu. Duis ac erat ornare, dapibus quam non, elementum est. Pellentesque arcu lacus, blandit ac orci et, interdum dignissim ligula. In consequat nec ipsum interdum tempus. Integer in odio eget orci congue imperdiet. Aenean posuere nisl elit, id aliquam mauris consequat non. Pellentesque facilisis tellus id dui ullamcorper dignissim. Donec tellus lectus, aliquam rhoncus nibh molestie,convallis convallis urna.</p>
          <p class='p_font_size'>Integer vitae risus eu tellus malesuada tempus. Integer interdum adipiscing posuere. Nam non lacus tristique, tempor arcu et, tristique diam. Proin consequat massa vitae nunc viverra, nec malesuada arcu pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent a mi nulla. Nam velit odio, feugiat in est et, tristique euismod velit. Maecenas ac pulvinar lacus. Vestibulum pharetra leo sed enim tempor suscipit. Quisque venenatis tempus eros, in gravida odio. Suspendisse suscipit, risus vel auctor convallis, velit tellus posuere nunc, a aliquam dui metus nec enim. Quisque faucibus eros eu bibendum ullamcorper. Vivamus arcu justo, tincidunt et accumsan auctor, faucibus et nisi. Phasellus sed enim et libero lacinia iaculis porttitor sit amet augue.</p>
         
    </div>
  </div>
</section>

<section id="team">
  <div class="team-section">
    <div class="container">
      <h2>The Team <br></h2>
      <div class="col-md-6">
      <img class='team_photo' src="<%= asset_path('ahmed.png') %>">
      <span class='team_name'>Ahmed, The Kuwaitee<span>
      <br>
      <img class='team_photo' src="<%= asset_path('kennan.png') %>">
      <span class='team_name'>Keenan, The Octopus<span>
      </div>

      <div class="col-md-6">
      <img class='team_photo' src="<%= asset_path('scott.png') %>">
      <span class='team_name'>Scott, The Machine<span>
      <br>
      <img class='team_photo' src="<%= asset_path('steve.png') %>">
      <span class='team_name'>Steve, The Mustard<span>
      </div>
        <p class='p_font_size'>Integer vitae risus eu tellus malesuada tempus. Integer interdum adipiscing posuere. Nam non lacus tristique, tempor arcu et, tristique diam. Proin consequat massa vitae nunc viverra, nec malesuada arcu pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent a mi nulla. Nam velit odio, feugiat in est et, tristique euismod velit. Maecenas ac pulvinar lacus. Vestibulum pharetra leo sed enim tempor suscipit. Quisque venenatis tempus eros, in gravida odio. Suspendisse suscipit, risus vel auctor convallis, velit tellus posuere nunc, a aliquam dui metus nec enim. Quisque faucibus eros eu bibendum ullamcorper. Vivamus arcu justo, tincidunt et accumsan auctor, faucibus et nisi. Phasellus sed enim et libero lacinia iaculis porttitor sit amet augue.</p>
        
    </div>
  </div>
</section>
 
<section id="learn_more">
  <div class="learn_more-section">
    <div class="container">
      <h2>Learn More</h2>
        <div class='lp_lm_right_text col-md-6'>
        <p class='p_font_size'>CrowdPics is a crowdsourcing image app that allows multiple users to contribute by simply entering an event code and snapping away.  This app allows the host to obtain pictures from guest displaying their visual perspective of an event.  CrowdPics uses the next generation technology.  It is expected that CrowdPics will release a bluetooth sync to their Google Glasses in 2016.</p>   
        <br>
        <% if current_user %>

        
        <% else %>
        <ul class='lp_link2'>
          <li><%= link_to "Create Account", new_user_registration_path, :class => "lp_btn2" %></li>
          <li><%= link_to "Sign In", new_user_session_path, :class => "lp_btn2" %></li>
        </ul>
        <% end %>
        </div>
        <div class='lp_lm_right_image col-md-6'>
          <img class='mobile_image' src="<%= asset_path('mobile_image2.jpg') %>">
        </div>

    </div>    
  </div>
 </section>
<!--mmmmmm-->
 <section id="contact">
   <div class="contact-section">
    <div class="container">
      <h2>Contact Us</h2>
        <p class='p_font_size'>Email: crowdpicschicago@gmail.com</p>


           <ul class="list-inline banner-social-buttons">
                   <ul class="list-inline banner-social-buttons">
                    <li><a href="https://twitter.com/crowdpicschi" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                       </li>
                  <li><a href="https://www.facebook.com/crowdpics" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>

                </ul>
    








     </div>
    </div> 
</section>
</div>
</div>
<!-- FOOTER -->
    <section id='footer'>
      &copy; 2014 CrowdPics. All Rights Reserved.
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </body>
</html>

