<h1>Welcome index</h1>

<% if current_user %>
<h3>You've been signed in</h3>
<%= link_to "Create Event", new_user_event_path(current_user) %>
<%= link_to "All Events", events_path%>
<%= link_to "My Dashboard", user_path(current_user) %>
<% else %>

	<%= link_to "Create Account", new_user_registration_path, :id => "signup"%><br>

<div id='signupdiv' style="display: none">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %></div>


	<%= link_to "Sign In", new_user_session_path, :id => "signin"%>

<div id='signindiv' style="display: none">
<%= form_for(:user, :url => session_path(:user)) do |f| %>
<div><%= f.label :email %><br />
  <%= f.text_field :email %><br></div>
  <div><%= f.label :password %><br />
  <%= f.password_field :password %><br></div>
   <div><%= f.submit "Sign in" %></div>
<% end %></div>


  <%= form_tag events_check_code_path do %>
  <p>
    <%= label_tag "Event Code"%>
    <%= text_field_tag "event_code" %>
  </p>
  <p>
    <%= submit_tag "GoButton" %>
  </p>
  <% end %>
<% end %>



