
<div class='container'>
<% if current_user.id == @event.user_id %>
	<h1>Edit Event</h1>
  <div>Here is the event viewing code: <%= @event.event_code %><br></div>

<%#  Submit phone number Twilio    %>
<br>

<%= form_tag(send_texts_path(@event)) do %>
<%= label_tag("Text friends and family the viewing code:")%><br>
<%= text_field_tag(:number_to_text,nil, placeholder: "Enter Phone Number")%>
<%= submit_tag "SUBMIT"%>
<% end %><br>
<%# General Event Info %>

  <% if @event.start_date > DateTime.now %>
	  <%= render "shared/event_form" %>
  <% end %>
	<%= link_to "Back", user_path(current_user) %>
	<%= link_to "Delete", user_event_path, method: :delete, data: {confirm: "Are you sure?  People will miss these pictures."}  %>

<div id="eventImages">


  <% @eventphotos.each do |p| %>

      <img src="<%= p.avatar.url(:medium) %>">
      <%= link_to "Delete", event_event_photo_path(@event, p.id), method: :delete, data: {confirm: "Are you sure?  People will this pictures."}  %>


  <% end %>
</div>


<% else %>
	<%= link_to "Go Home Dick Bag!", root_path %>
<% end %>

</div>
