<% if current_user.id == @event.user_id %>
	<h1>Edit Event</h1>
  <div>Here is the event viewing code: <%= @event.event_code %></div>
	<%= render "shared/event_form" %>
	<%= link_to "Back", user_path(current_user) %>
	<%= link_to "Delete", user_event_path, method: :delete, data: {confirm: "Are you sure?  People will miss these pictures."}  %>

<div id="eventImages">
  <% @event.event_photos.each do |p| %>
    <div>
      <img src="<%= p.avatar %>">
      <%= link_to "Delete", event_event_photo_path(@event, p.id), method: :delete, data: {confirm: "Are you sure?  People will this pictures."}  %>
    </div>
  <% end %>
</div>


<% else %>
	<%= link_to "Go Home Dick Bag!", root_path %>
<% end %>


