<h1><%=@event.title%></h1>
<% if session[:event_code] == @event.event_code || @check %>
  <div class="content">
  	<p><%= @event.description %></p>
  </div>
  <div id="eventImages">
    <% @event_photos.each do |p| %>
      <div><img src="<%= p.avatar.url(:thumb) %>"></div>
    <% end %>
  </div>
  <h2>Add a new event photo <%= link_to 'New Event Photo', new_event_event_photo_path(@event), class: 'new-eventphoto' %></h2>
<% else %>
  <h1>You do not have permission to view this event.</h1>
<%  end %>

<% if current_user %>
    <%= link_to "My Dashboard", user_path(current_user) %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to 'Homepage', root_url %>
<%end%>
          
  
