<%= form_tag(event_event_photos_path, multipart: true) do %>
  <% if @eventphoto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eventphoto.errors.count, "error") %> prohibited this event photo from being saved:</h2>

      <ul>
      <% @eventphoto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag 'name'%>
    <%= text_field_tag 'event_photo[name]' %>
  </div>
  <div class="field">
    <%= label_tag 'avatar'%>
    <%= file_field_tag 'event_photo[avatar]'%>
  </div>
  <div class="actions">
    <%= submit_tag 'Add the Event Photo' %>
    <%= link_to 'Nevermind', event_path(@event), class: 'button' %>
  </div>
<% end %>
