<p id="notice"><%= notice %></p>

<h2><%= @eventphoto.name %></h2>
  <%= image_tag @eventphoto.avatar.url(:medium) %>

<div class="show actions">
  <%= link_to 'Edit', edit_event_photo_path(@eventphoto) %>
  <%= link_to 'Remove', @eventphoto, data: { confirm: 'Are you sure you want to delete this event photo?' }, method: :delete, class: 'destroy' %>
  <%= link_to 'Back to all my event photos', event_photos_path %>
</div>
