<div class="friend" id="<%= friend.id %>">
  <div class="front">
    <%= link_to eventphoto, class: 'pic-link' do %>
      <%= image_tag eventphoto.avatar.url(:square) %>
    <% end %>
  </div>

  <div class="back">
    <span class="friend-name"><%= eventphoto.name %></span>
    <div class="actions">
      <%= link_to 'Show', eventphoto %>
      <%= link_to 'Edit', edit_eventphoto_path(eventphoto) %>
      <%= link_to 'Delete', friend, confirm: 'Are you sure you want to delete this event photo?', method: :delete, class: 'destroy' %>
    </div>
  </div>
</div>